#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.hamburger-menu {
  height: 50px;
}
.menu__btn {
  position: fixed;
  top: 40px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 4;
}
#menu__toggle:checked + .menu__btn > span,
#menu__toggle:checked + .menu__btn > span::before,
#menu__toggle:checked + .menu__btn > span::after {
  background-color: #ffffff;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(15, 85, 117);
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 3;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgb(15, 85, 117);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  overflow-y: scroll;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

.nav-container {
  /* background-color: rgb(15, 85, 117); */
  padding: 20px 0px;
}
div.nav-container button {
  color: #fff;
  text-decoration: none;
  font: 1.5vw "Kumar One", cursive;
  /* margin: 5px 10px; */
  padding: 1vw;
  position: relative;
  z-index: 0;
  cursor: pointer;
  background: transparent;
  border-width: 0px;
  width: 9.5vw;
  margin-bottom: 5vw;
  text-shadow: 0 0 10px red;
  font-weight: bold;
}

div.nav-container button:nth-child(1) {
  margin-left: 15vw;
}
div.nav-container button:nth-child(2),
div.nav-container button:nth-child(3),
div.nav-container button:nth-child(4) {
  margin-left: 10.3vw;
}
div.nav-container button:nth-child(4) {
  margin-right: 10vw;
}
div.nav-container button:nth-child(5) {
  margin-left: 5vw;
}
div.nav-container button:nth-child(6),
div.nav-container button:nth-child(7),
div.nav-container button:nth-child(8),
div.nav-container button:nth-child(9) {
  margin-left: 10.3vw;
}

div.borderYtoX button {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 5px 10px;
  padding: 10px 10px;
  font: 20px "Kumar One", cursive;
  position: relative;
  z-index: 0;
  cursor: pointer;
  background: rgb(15, 85, 117);
  border-width: 0px;
  width: calc(100vw - 40px);
}

/* @media (min-width: 900px) {
  div.nav-container button {
    width: calc(33vw - 25px);
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  div.nav-container button {
    width: calc(50vw - 30px);
  }
} 
@media (max-width: 700px) {
  div.borderYtoX button {
    width: calc(100vw - 40px);
  }
} */

div.borderYtoX button:before,
div.borderYtoX button:after {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 2px;
  content: "";
  background: rgb(255, 255, 255);
  transition: all 0.3s;
}

div.borderYtoX button:before {
  left: 0px;
  top: 0px;
}

div.borderYtoX button:after {
  right: 0px;
  bottom: 0px;
}

div.borderYtoX button:hover:before,
div.borderYtoX button:hover:after {
  opacity: 1;
  height: 2px;
  width: 100%;
}

div.borderYtoX button:focus,
div.borderYtoX button:hover,
div.nav-container button:hover,
div.nav-container button:focus {
  outline-width: 0px;
}

.active {
  background-color: rgb(56, 107, 141);
}
