* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("https://image.shutterstock.com/image-vector/set-seamless-borders-design-application-600w-1022517658.jpg");
  background-size: cover;
}

.allMember {
  margin-top: 50px;
}
